input{ 
    width: 100%; 
    margin: 3px 0; 
    border: 0; 
    border-bottom: 1px solid #BDBDBD;
}
img{ 
    height: 50px;
}
body{ 
    background: black; 
}
.main{ 
    width: 600px; 
    margin: 100px auto; 
    background: white;
}

.inputs{ 
    width: 50%; 
    padding: 0 10px; 
}

.header{ 
    display: flex; padding: 10px; }

    
.header h1{ width: 100%; }
.body{ display: flex; }


.parrafos{ 
    width: 50%; 
    padding: 0 10px; 
}

.button{
    text-align: center; 
    
}
button{
    margin-bottom: 10px; 
}